In [4]:
import pandas as pd

In [5]:
Hero = "Resources/HeroesOfPymoli.csv"

In [6]:
Hero_df = pd.read_csv(Hero, encoding="ISO-8859-1")
Hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
def Totalplayervalue():
    return Hero_df["SN"].nunique()
Total=pd.DataFrame({"Total Player":[Totalplayervalue()]})
Total

   Total Player
0           576

In [8]:
pd.options.display.float_format = '${:,.2f}'.format
def uniqueitem():
    return Hero_df["Item ID"].nunique()
def averageprice():
    return Hero_df["Price"].mean()
def purchases():
    return Hero_df["Purchase ID"].count()
def totalrevenue():
    return Hero_df["Price"].sum()

Purchase=pd.DataFrame({"Number of Unique Items":[uniqueitem()],"Average Price":[averageprice()],"Number of Purchases":[purchases()],"Total Revenue":[totalrevenue()]})
Purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

In [9]:
pd.options.display.float_format = '{:.2%}'.format
#Count the number of players by gender and Redfine Columns
count = Hero_df.groupby('Gender')['SN'].nunique()
count=count.to_frame().reset_index()
count.columns=['Gender','Total Count']

#Calculate the % of players by gender and Redfine Columns
percent=(Hero_df.groupby('Gender')['SN'].nunique())/(Hero_df.groupby('Gender')['SN'].nunique()).sum()
percent=percent.to_frame().reset_index()
percent.columns=['Gender','Percent of Players']

Demographics1=pd.merge(count,percent,on='Gender',)
Demographics1

                  Gender  Total Count  Percent of Players
0                 Female           81              14.06%
1                   Male          484              84.03%
2  Other / Non-Disclosed           11               1.91%

In [11]:
pd.options.display.float_format = '${:,.2f}'.format
#calculate the Purchase Count and Redfine Columns
purchase_count = Hero_df.groupby('Gender')['Item Name'].count()
purchase_count=purchase_count.to_frame().reset_index()
purchase_count.columns=['Gender','Purchase Count']

#Calucate the Average Purchase price and redfine columns
Price_by_Gender = Hero_df.groupby('Gender')['Price'].mean()
Price_by_Gender=Price_by_Gender.to_frame().reset_index()
Price_by_Gender.columns=['Gender','Average Purchase Price']

#Calucate the Total Purchase value and redfine columns
Purchase_by_Gender = Hero_df.groupby('Gender')['Price'].sum()
Purchase_by_Gender=Purchase_by_Gender.to_frame().reset_index()
Purchase_by_Gender.columns=['Gender','Total Purchase Value']

#Calucate the Avg Total Purchase per person value and redfine columns
Purchase_per_person=(Hero_df.groupby('Gender')['Price'].sum())/(Hero_df.groupby('Gender')['SN'].nunique())
Purchase_per_person=Purchase_per_person.to_frame().reset_index()
Purchase_per_person.columns=['Gender','Avg Total Purchase per Person']

#merge Columns together to create table
result1=pd.merge(purchase_count,Price_by_Gender,on='Gender')
result2=pd.merge(result1,Purchase_by_Gender,on='Gender')
final=pd.merge(result2,Purchase_per_person,on='Gender')
final

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [12]:
pd.options.display.float_format = '{:.2%}'.format
#create a new table that drops duplicate SNs
newtable = Hero_df.drop_duplicates('SN')
#Create Age Bins
labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins = [0, 10, 15, 20, 25,30, 35, 40,50]
#Group into bins and puts labels and then count the values in each bin
age_count=pd.cut(newtable['Age'],bins=bins,labels=labels,right=False).value_counts()
#Redinfe Columns
age_count=age_count.to_frame().reset_index()
age_count.columns=['','Total Count']
age_count_sorted=age_count.sort_values(by='',ascending=True)
# calculate the percent of each group
percent_age=(pd.cut(newtable['Age'],bins=bins,labels=labels,right=False).value_counts())/(Hero_df["SN"].nunique())

#Redinfe Columns
percent_age=percent_age.to_frame().reset_index()
percent_age.columns=['','Percent of Players']
#merge table
AgeDemographics=pd.merge(age_count_sorted,percent_age,on='',)
AgeDemographics

          Total Count  Percent of Players
0    <10           17               2.95%
1  10-14           22               3.82%
2  15-19          107              18.58%
3  20-24          258              44.79%
4  25-29           77              13.37%
5  30-34           52               9.03%
6  35-39           31               5.38%
7    40+           12               2.08%

In [53]:
#calculate Purchase count by age group
new_age_count=pd.cut(Hero_df['Age'],bins=bins,labels=labels,right=False).value_counts()
#Redefine columns
new_age_count=new_age_count.to_frame().reset_index()
new_age_count.columns=['Age Group','Purchase Count']

#creat age bins and redefine columns
age_bins=pd.cut(Hero_df['Age'],bins=bins,labels=labels,right=False)
age_bins=age_bins.to_frame().reset_index()
age_bins.columns=['Purchase ID','Age Group']
#add age bins to Hero_df
temptable=pd.merge(Hero_df,age_bins,on='Purchase ID',)
# find total purchase by age group and redfine columns
total_purchase_age = temptable.groupby('Age Group')['Price'].sum()
total_purchase_age=total_purchase_age.to_frame().reset_index()
total_purchase_age.columns=['Age Group','Total Purchase']

# find average purchase by age group and redfine columns
total_purchase_mean=temptable.groupby('Age Group')['Price'].mean()
total_purchase_mean=total_purchase_mean.to_frame().reset_index()
total_purchase_mean.columns=['Age Group','Average Purchase Price']
# find average purchase per person by age group and redfine columns
total_average_per_person=(temptable.groupby('Age Group')['Price'].sum())/(pd.cut(newtable['Age'],bins=bins,labels=labels,right=False).value_counts())
total_average_per_person=total_average_per_person.to_frame().reset_index()
total_average_per_person.columns=['Age Group','Avg Total Purchase Per Person']

#Merge and create final result
result=pd.merge(new_age_count,total_purchase_mean,on='Age Group',)
result1=pd.merge(result,total_purchase_age,on='Age Group',)
purchasing_analysis_age=pd.merge(result1,total_average_per_person,on="Age Group")
purchasing_analysis_age=purchasing_analysis_age.sort_values(by='Age Group')
purchasing_analysis_age

,Age Group,Purchase Count,Average Purchase Price,Total Purchase,Avg Total Purchase Per Person
6,<10,23,$3.35,$77.1,$4.54
5,10-14,28,$2.96,$82.8,$3.76
1,15-19,136,$3.04,$4.13e+02,$3.86
0,20-24,365,$3.05,$1.11e+03,$4.32
2,25-29,101,$2.9,$2.93e+02,$3.81
3,30-34,73,$2.93,$2.14e+02,$4.12
4,35-39,41,$3.6,$1.48e+02,$4.76
7,40+,13,$2.94,$38.2,$3.19

In [15]:
pd.options.display.float_format = '${:.3}'.format
#calucalte Purchase Count
frequency=Hero_df["SN"].value_counts()
#Format Puchase Count
frequency=frequency.to_frame().reset_index()
frequency.columns=['SN','Purchase Count']

#Calculate Total Purchase
Total_purchase=Hero_df.groupby('SN')['Price'].sum()
#Format Total Purchase
Total_purchase=Total_purchase.to_frame().reset_index()
Total_purchase.columns=['SN','Total Purchase']
#Sort from Largest
Total_purchase_Sorted=Total_purchase.sort_values(by='Total Purchase',ascending=False)

#Calculate Average Purchase
Average_purchase_SN=(Hero_df.groupby('SN')['Price'].sum())/(Hero_df["SN"].value_counts())
#Format Total Purchase
Average_purchase_SN=Average_purchase_SN.to_frame().reset_index()
Average_purchase_SN.columns=['SN','Average Purchase Price']

TopSpender=pd.merge(frequency,Average_purchase_SN,on='SN',)
TopSpender1=pd.merge(TopSpender,Total_purchase, on="SN")
TopSpender1.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase
0    Lisosia93               5                   $3.79           $19.0
1       Iral74               4                    $3.4           $13.6
2  Idastidru52               4                   $3.86           $15.4
3     Ilarin91               3                   $4.23           $12.7
4       Asur53               3                   $2.48           $7.44

In [17]:

#create new tble with Item ID, Item Name and Price
newHero_df = Hero_df.filter(['Item ID','Item Name','Price'], axis=1)
#Count number of items purchased by Item Name
Purchase_Count=newHero_df["Item Name"].value_counts()
#redefine columns 
Purchase_Count=Purchase_Count.to_frame().reset_index()
Purchase_Count.columns=['Item Name','Purchase Count']
Purchase_Count_Sorted=Purchase_Count.sort_values(by='Purchase Count',ascending=False)

#create another table that drops duplicate Item Names
newtable1 = newHero_df.drop_duplicates('Item Name')

#Merge the purchase count to newtable1 and Rearrange Columns
Popular_Item=pd.merge(newtable1,Purchase_Count_Sorted,on='Item Name',)
Popular_Item=Popular_Item[["Item ID","Item Name","Purchase Count","Price"]]
#Sort by Purchase Count
Popular_Item_Sorted=Popular_Item.sort_values(by='Purchase Count',ascending=False)

#Calculate Total Purhcases
Total_Purchase_Value=newHero_df.groupby('Item Name')['Price'].sum()
#Redefine column names
Total_Purchase_Value=Total_Purchase_Value.to_frame().reset_index()
Total_Purchase_Value.columns=['Item Name','Total Purchase Value']

#Merge Total Purchase value to Popular Item Table
Popular_Item_Final=pd.merge(Popular_Item_Sorted,Total_Purchase_Value,on='Item Name',)
Popular_Item_Final.head()

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
0,92,Final Critic,13,$4.88,$60.0
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.8
2,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.8
3,82,Nirvana,9,$4.9,$44.1
4,145,Fiery Glass Crusader,9,$4.58,$41.2

In [18]:
#Sort by Total Purchase Value
Popular_Item_Final_Sorted=Popular_Item_Final.sort_values(by='Total Purchase Value',ascending=False)
Popular_Item_Final_Sorted.head()

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
0,92,Final Critic,13,$4.88,$60.0
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.8
3,82,Nirvana,9,$4.9,$44.1
4,145,Fiery Glass Crusader,9,$4.58,$41.2
7,103,Singed Scalpel,8,$4.35,$34.8