In [3]:
import pandas as pd

In [7]:
Hero = "Resources/HeroesOfPymoli.csv"

In [9]:
Hero_df = pd.read_csv(Hero, encoding="ISO-8859-1")
Hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
def Totalplayervalue():
    return Hero_df["SN"].nunique()
Total=pd.DataFrame({"Total Player":[Totalplayervalue()]})
Total

   Total Player
0           576

In [158]:
pd.options.display.float_format = '${:,.2f}'.format
def uniqueitem():
    return Hero_df["Item ID"].nunique()
def averageprice():
    return Hero_df["Price"].mean()
def purchases():
    return Hero_df["Purchase ID"].count()
def totalrevenue():
    return Hero_df["Price"].sum()

Purchase=pd.DataFrame({"Number of Unique Items":[uniqueitem()],"Average Price":[averageprice()],"Number of Purchases":[purchases()],"Total Revenue":[totalrevenue()]})
Purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

In [152]:
#Count the number of players by gender and Redfine Columns
count = Hero_df.groupby('Gender')['SN'].nunique()
count=count.to_frame().reset_index()
count.columns=['Gender','Total Count']

#Calculate the % of players by gender and Redfine Columns
percent=(Hero_df.groupby('Gender')['SN'].nunique())/(Hero_df.groupby('Gender')['SN'].nunique()).sum()
percent=percent.to_frame().reset_index()
percent.columns=['Gender','Percent of Players']
# format percent
percent['Percent of Players'] = percent['Percent of Players'].map(lambda n: '{:.2%}'.format(n))
Demographics=result1=pd.merge(count,percent,on='Gender',)
Demographics

                  Gender  Total Count Percent of Players
0                 Female           81             14.06%
1                   Male          484             84.03%
2  Other / Non-Disclosed           11              1.91%

In [159]:
pd.options.display.float_format = '${:,.2f}'.format
#calculate the Purchase Count and Redfine Columns
purchase_count = Hero_df.groupby('Gender')['Item Name'].count()
purchase_count=purchase_count.to_frame().reset_index()
purchase_count.columns=['Gender','Purchase Count']

#Calucate the Average Purchase price and redfine columns
Price_by_Gender = Hero_df.groupby('Gender')['Price'].mean()
Price_by_Gender=Price_by_Gender.to_frame().reset_index()
Price_by_Gender.columns=['Gender','Average Purchase Price']

#Calucate the Total Purchase value and redfine columns
Purchase_by_Gender = Hero_df.groupby('Gender')['Price'].sum()
Purchase_by_Gender=Purchase_by_Gender.to_frame().reset_index()
Purchase_by_Gender.columns=['Gender','Total Purchase Value']

#Calucate the Avg Total Purchase per person value and redfine columns
Purchase_per_person=(Hero_df.groupby('Gender')['Price'].sum())/(Hero_df.groupby('Gender')['SN'].nunique())
Purchase_per_person=Purchase_per_person.to_frame().reset_index()
Purchase_per_person.columns=['Gender','Avg Total Purchase per Person']

#merge Columns together to create table
result1=pd.merge(purchase_count,Price_by_Gender,on='Gender')
result2=pd.merge(result1,Purchase_by_Gender,on='Gender')
final=pd.merge(result2,Purchase_per_person,on='Gender')
final

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [87]:
bins = [0, 10, 15, 20, 25, 35, 40,50]
agecount = Hero_df.groupby('Item ID')['SN'].nunique()
agecount

Item ID
0       4
1       4
2       6
3       6
4       5
       ..
178    12
179     6
181     5
182     3
183     3
Name: SN, Length: 179, dtype: int64

In [93]:
newtable = Hero_df.drop_duplicates('SN')
bins = [0, 10, 15, 20, 25, 35, 40,50]
age_count=pd.cut(newtable['Age'],bins=bins,right=False).value_counts()
age_count

[20, 25)    258
[25, 35)    129
[15, 20)    107
[35, 40)     31
[10, 15)     22
[0, 10)      17
[40, 50)     12
Name: Age, dtype: int64

NameError: name 'apply' is not defined