In [49]:
import pandas as pd

In [7]:
Hero = "Resources/HeroesOfPymoli.csv"

In [9]:
Hero_df = pd.read_csv(Hero, encoding="ISO-8859-1")
Hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
def Totalplayervalue():
    return Hero_df["SN"].nunique()
Total=pd.DataFrame({"Total Player":[Totalplayervalue()]})
Total

   Total Player
0           576

In [41]:
def uniqueitem():
    return Hero_df["Item ID"].nunique()
def averageprice():
    return Hero_df["Price"].mean()
def purchases():
    return Hero_df["Purchase ID"].count()
def totalrevenue():
    return Hero_df["Price"].sum()
Purchase=pd.DataFrame({"Number of Unique Items":[uniqueitem()],"Average Price":[averageprice()],"Number of Purchases":[averageprice()],"Total Revenue":[totalrevenue()]})
Purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987             3.050987        2379.77

In [149]:
#Count the number of players by gender and Redfine Columns
count = Hero_df.groupby('Gender')['SN'].nunique()
count=count.to_frame().reset_index()
count.columns=['Gender','Total Count']

#Calculate the % of players by gender and Redfine Columns
percent=(Hero_df.groupby('Gender')['SN'].nunique())/(Hero_df.groupby('Gender')['SN'].nunique()).sum()
percent=percent.to_frame().reset_index()
percent.columns=['Gender','Total Count']
percent['Total Count'] = percent['Total Count'].map(lambda n: '{:.2%}'.format(n))
Demographics=result1=pd.merge(count,percent,on='Gender',)
Demographics

                  Gender  Total Count_x Total Count_y
0                 Female             81        14.06%
1                   Male            484        84.03%
2  Other / Non-Disclosed             11         1.91%

In [136]:
#calculate the Purchase Count and Redfine Columns
purchase_count = Hero_df.groupby('Gender')['Item Name'].count()
purchase_count=purchase_count.to_frame().reset_index()
purchase_count.columns=['Gender','Purchase Count']

#Calucate the Average Purchase price and redfine columns
Price_by_Gender = Hero_df.groupby('Gender')['Price'].mean()
Price_by_Gender=Price_by_Gender.to_frame().reset_index()
Price_by_Gender.columns=['Gender','Average Purchase Price']

#Calucate the Total Purchase value and redfine columns
Purchase_by_Gender = Hero_df.groupby('Gender')['Price'].sum()
Purchase_by_Gender=Purchase_by_Gender.to_frame().reset_index()
Purchase_by_Gender.columns=['Gender','Total Purchase Value']

#Calucate the Avg Total Purchase per person value and redfine columns
Purchase_per_person=(Hero_df.groupby('Gender')['Price'].sum())/(Hero_df.groupby('Gender')['SN'].nunique())
Purchase_per_person=Purchase_per_person.to_frame().reset_index()
Purchase_per_person.columns=['Gender','Avg Total Purchase per Person']

#merge Columns together to create table
result1=pd.merge(purchase_count,Price_by_Gender,on='Gender')
result2=pd.merge(result1,Purchase_by_Gender,on='Gender')
final=pd.merge(result2,Purchase_per_person,on='Gender')
final

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727